
<mat-card>

  <mat-toolbar color="accent">Course Details</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field class="first">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required #name>
        <mat-hint>{{name.value.length}}/100</mat-hint>
        <mat-error *ngIf="formGroup.get('name')?.invalid"> {{getErrorMessage('name') }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Front-End">Front-End</mat-option>
          <mat-option value="Back-End">Back-End</mat-option>
          <mat-option value="Mobile">Mobile</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('category')?.invalid"> {{getErrorMessage('category') }}</mat-error>

      </mat-form-field>
      <mat-toolbar>
        <span>Lessons</span>
        <button mat-icon-button color="accent">
          <mat-icon aria-label="add lessons">add</mat-icon>
        </button>
      </mat-toolbar>

      <table style="width: 100%" formArrayName="lessons"
      *ngFor="let lesson of getLessonsFormArray(); let idx = index">
        <tr [formGroupName]="idx">
          <td style="width: 65%">
            <mat-form-field>
              <mat-label>Lesson name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </td>
          <td style="width: 30%">
            <mat-form-field>
              <mat-label>URL</mat-label>
              <input matInput formControlName="url">
            </mat-form-field>
          </td>
        </tr>
      </table>

    </form>
  </mat-card-content>

<mat-card-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
  <button mat-raised-button color="warning" (click)="onCancel()">Cancel</button>
</mat-card-actions>

</mat-card>
